@using FullCalendar_MVC.Models
@model FullCalendar_MVC.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-8" style="padding-top:50px;">
        <section id="loginForm" class="col-md-offset-4" style="padding-left:100px;">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h2 style="padding-left:170px;">Entrar</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="padding-left:50px;">
                     @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="padding-left:50px;">
                    <label class="col-md-2 control-label">Senha</label>
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="padding-left:70px;">
                    <div>
                        <div class="checkbox col-md-offset-4">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            <label class="control-label" style="padding-top: 0px; padding-left: 0px; font-weight: bold">Lembrar Senha</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-5">
                        <input type="submit" value="Entrar" class="btn btn-default" />
                    </div>
                </div>
                    @*@if (is)
                        {

                        }*@
                    @*<p style="padding-left:1px;">
                            @Html.ActionLink("Registrar um novo Usuário", "Register")
                        </p>*@
                    <!--Enable this once you have account confirmation enabled for password reset functionality
                       <p>
                          Html.ActionLink("Esqueceu sua senha", "ForgotPassword")
                       </p>-->
            }
        </section>
    </div>
</div>