@using FullCalendar_MVC.Models
@model FullCalendar_MVC.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="row">
    <div class="col-md-8" style="padding-top:50px;">
        <section id="loginForm" class="col-md-offset-4">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h2 style="text-align:center;">Entrar</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group" style="padding-left:50px;">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="padding-left:50px;">
                    <label class="col-md-2 control-label">Senha</label>
                    <div class="col-md-6">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                    <div class="form-group" style="padding-left:70px;">
                        <div>
                            <div class="checkbox col-md-offset-3">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                <label class="control-label">Lembrar Senha</label>
                                @*@Html.LabelFor(m => m.RememberMe)*@
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="text-align:center;">
                        <div class="col-md-10">
                            <input type="submit" value="Entrar" class="btn btn-default" />
                        </div>
                    </div>
                    @*@if (is)
                        {

                        }*@
                    @*<p style="padding-left:1px;">
                            @Html.ActionLink("Registrar um novo Usuário", "Register")
                        </p>*@
                    <!--Enable this once you have account confirmation enabled for password reset functionality
                       <p>
                          Html.ActionLink("Esqueceu sua senha", "ForgotPassword")
                       </p>-->
            }
        </section>
    </div>
</div>