@model FullCalendar_MVC.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Registrar";
}


@using FullCalendar_MVC.Models.Identity;

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Criar um novo Usuário</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2">Email</label>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Senha</label>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
        <label class="control-label col-md-2"> Confirmar Senha</label>
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-md-2"> Grupo</label>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.Grupo.Id, ((IEnumerable<Grupo>)ViewBag.Grupos).Select(option => new SelectListItem
       {
           Text = option.Name,
           Value = option.Id.ToString(),
           Selected = (Model != null) && (option.Id == Model.Grupo.Id)
       }), "Selecione", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            <input type="submit" class="btn btn-default" value="Cadastrar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
