@model IEnumerable<FullCalendar_MVC.Models.Convenio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Indice</h2>
<p class="col-md-offset-2">
    <a href="@Url.Action("Create")">
        <img alt="Widget View" src="@Url.Content("~/fonts/Icones/AdicionarUsuario.png")">
        Criar Novo
    </a>
    @*@Html.ActionLink("Criar Novo", "Create", new { @class = "col-md-offset-2" })*@
</p>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th  style="padding-left: 60px;">Ações</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td style="padding-left: 30px;">
                        @Html.ActionLink("Editar", "Edit", new { id = item.ConvenioId }) |
                        <!--Html.ActionLink("Detalhes", "Details", new { id = item.ConvenioId }) |-->
                        @Html.ActionLink("Excluir", "Delete", new { id = item.ConvenioId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>